.content {
    display: grid;
    place-content: center;
    height: 75vh;
    margin: 2rem 0 0 0;
    background-color: #44155d;
}

.content__list {
    display: grid;
    width: 80vw;
}

.content__list-item {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    transition: 1s;
}

.content__list-item:nth-child(even) {  
    flex-direction: row-reverse;
}

.card-title {
    align-self: center;
    font-family: var(--main-font);
    font-size: 3em;
    color: yellow;
}

.card__img {
    height: 35vw;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.hide {
    display: none;
}

/* Media queries */
@media (max-width: 767px) {
    .card-title {
        font-size: 2rem;
    }
}  

@media (min-width: 768px) and (max-width: 1023px) {
}